<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Comment="http://schemas.android.com/apk/res-auto"
    package="com.zeiterfassung.timo.Zeiterfassung">

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.BerichtWoche"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.Bericht" />
        <activity android:name=".Activity.BerichtAdapter" />
        <activity android:name=".Activity.Testactivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AddPosition" />
        <activity android:name=".Activity.TaetigkeitsberichtUeberarbeiten" />
        <activity
            android:name=".Activity.Taetigkeitsbericht"
            android:screenOrientation="landscape" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtsZdJ92-HJbnKT7Ca48txn1JapW95r90" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NeuerKundeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KarteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auftragsliste"
            android:screenOrientation="portrait" />

        <receiver android:name=".Helfer.NotificationReceiver" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" /> <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".Activity.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service
            android:name=".Helfer.LocationService"
            android:stopWithTask="false" />

        <activity android:name=".Bericht2" />
        <activity
            android:name=".Activity.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KundenInfoActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>